.categorias {
    background: #d9d9d9;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title h1 {
    font-weight: 700;
}

div .title {
    text-transform: uppercase;
    padding-top: 50px;
    background-color: #D9D9D9;
}

.grid-produtos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
}

.item-produto {
    background: #F1EEE9;
    border-radius: 30px;
    margin: 20px 9px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 9px;
    width: 300px;
    height: auto;
}

.img img {
    margin: 10px;
    width: 270px;
    height: 500px;
    border-radius: 30px;
    object-fit: cover;
}

.infos {
    padding: 14px;
}

.top-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .avaliacao,
  .favorito {
    display: flex;
    align-items: center;
    padding: 0px 14px;
    margin-bottom: 40px;
  }

  .bx {
    width: 10px;
    height: 10px;
}

.avaliacao .bxs-star {
    color: #FFC700;
}

.favorito .bx-heart,
.favorito .bxs-heart {
    color: #FD0B28;
}

.info-produto h3,
.info-produto span {
    text-transform: uppercase;
}

.info-produto h3 {
    margin-bottom: 10px;
}

.info-produto span {
    font-size: 1.25rem;
}

.btn-carrinho {
    background-color: #00CAE1;
    padding: 15px;
    border-radius: 30px;
    margin-top: 15px;
}

.btn-carrinho:hover{
    background-color: #04bace;
}

.btn-carrinho a {
    text-decoration: none;
    color: #101010;
    text-transform: uppercase;
    font-weight: 900;
    display: flex;
    justify-content: space-evenly;
}

.bx-cart-add {
    color: #101010;
    position: relative;
    top: -5px;
}

/* INPUT DE BUSCA */
.busca-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 30px 15px;
    position: relative;
}

.busca-input label {
    font-size: 1rem;
    position: absolute;
    left: 0;
    bottom: 5px;
    color: #9F9F9F;
    cursor: text;
    transition: 0.5s ease-in-out;
}

.busca-input .input {
    width: 100%;
    padding: 5px;
    color: #9F9F9F;
    border: 0;
    border-bottom: 2px solid #9F9F9F;
    outline: 0;
    background: none;
}

.busca-input .input:focus{
    border-bottom: 2px solid #00cae1;
    color: #000;
}

.busca-input .input:focus ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: #00cae1;
}

.btn-buscar{
    background-color: #00CAE1;
    outline: none;
    border: none;
    padding: 10px 15px;
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.1rem;
    border-radius: 30px;
}

.botoes-pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .btn-pagina {
    cursor: pointer;
    background-color: #00CAE1;
    color: #000;
    border: none;
    font-weight: 800;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
  }
  
  .btn-pagina.ativo {
    background-color: #04bace;
  }
  