@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ruda", Arial, Helvetica, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* scroll bar personalizado */
::-webkit-scrollbar{
  width: 6px;
  background-color: #222327;
  border: 5px solid #222327;
}

::-webkit-scrollbar-thumb{
  background-color: #04bace;
  border-radius: 50px;
}
/* scroll bar personalizado */